tr	{
	color: white;
	background: #8B4513;
}

p	{
	color: white;
	text-align: justify;
}

body	{
	background: black;
}

.merah	{
	color: black;
	text-align: center;
	background: white;
}

.koplak {
	color: darkblue;
}
