h1	{
	color: red;
	text-align:center;
}

tr	{
	color: white;
	background: orange;
}

p	{
	color: white;
	text-align: justify;
}

body	{
	color: black
	background: LightGray;
}

.koplak {
	color: darkblue;
}
