tr	{
	color: white;
	background: orange;
}

p	{
	color: white;
	text-align: justify;
}

body	{
	background-color: LightGray;
}

h1	{
	color: red;
	text-align: center;
	background: white;
}

.koplak {
	color: darkblue;
}
